@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/** Main Var for all the portfolio */
:root {
    --color-primary : #0E0E96;
    --color-secondary : #01010F;
    --color-accent : #ededfa;
    --color-background : #DADAE8;
    --color-radient : linear-gradient(
            90deg,
            hsl(244 63% 35%) 0%,
            hsl(238 77% 37%) 8%,
            hsl(233 89% 38%) 17%,
            hsl(227 100% 40%) 25%,
            hsl(211 100% 40%) 33%,
            hsl(200 100% 39%) 42%,
            hsl(221 100% 79%) 50%,
            hsl(200 100% 39%) 58%,
            hsl(211 100% 40%) 67%,
            hsl(227 100% 40%) 75%,
            hsl(233 89% 38%) 83%,
            hsl(238 77% 37%) 92%,
            hsl(244 63% 35%) 100%
        );
}

body {
    background-color: var(--color-background);
}

/* Navbar rules */
.navbar {
    @apply 
    flex
    flex-col
    md:flex-row
    m-3
    md:m-7 
    max-w-7xl 
    items-center
}

.nav_button {
    @apply 
    p-4 
    md:p-6
    transition-shadow
    overflow-visible
    rounded-xl
    hover:bg-sky-100
    hover:text-indigo-950
}


.nav_button:hover {
    box-shadow: 0 20px 25px -5px var(--color-secondary);
    color: var(--color-primary);
    background-color: var(--color-accent);
}

.nav_button_list {
    @apply
    flex 
    flex-col 
    md:flex-row
    gap-2
    md:gap-7
    pl-3
    md:pl-8
}

.logo_img {
    @apply 
    w-30 
    overflow-hidden 
    rounded-lg;
    will-change: filter;
    transition: filter 300ms;
}

.logo_img:hover {
    filter: drop-shadow(5 5 6em #ff0000aa);
}

/* Règles générales pour les différentes pages */
.page {
    @apply 
    min-h-screen 
    flex
    flex-col 
    md:flex-row  
    gap-4
    md:gap-6 
    p-3 
    md:p-9
}

/* Règles générales pour l'élément footer */
.footer {
    @apply 
    flex 
    flex-col
    md:flex-row 
    
    gap-5  
    md:gap-10
    
    items-center
    justify-center

    border-t 
    border-gray-300

    text-gray-400
    font-extralight
}