@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

#about {
  @apply flex flex-col relative min-h-screen;
}

/* All of the title */
.about_title {
  @apply text-4xl md:text-5xl font-bold flex justify-center items-center;
}

.about_title h1 {
  @apply h-20 flex items-center;
}

.about_subtitle {
  @apply text-3xl md:text-4xl font-serif text-[var(--color-primary)] pb-5 md:pb-8;
}

.about_subsubtitle {
  @apply text-2xl md:text-3xl relative z-10 font-serif text-[var(--color-primary)];
}

/* Differents sections */

.parcours {
  @apply text-xl md:text-2xl font-serif;
}

/* Formations */
.formation_list {
  @apply flex flex-col mt-8 md:mt-12 gap-6 text-lg md:items-center mb-10;
}

.formation_list h3 {
  @apply text-3xl md:text-4xl font-thin;
}

.formation {
  @apply flex flex-col md:flex-row justify-center gap-5 md:gap-10 items-center md:items-baseline;
}

.formation>div {
  @apply flex flex-col w-[50%] justify-center gap-2 md:gap-5;
}

.formation_title {
  @apply w-full md:w-[90%] text-2xl md:text-3xl font-bold;
}

.formation_dates {
  @apply flex items-end justify-end pr-4;
}

.formation_dates span {
  @apply font-bold;
}

.formation_goals ul {
  @apply list-disc list-inside font-mono;
}

.formation div:nth-child(2) {
  @apply flex flex-col md:flex-row;
}

.formation_place {
  @apply p-4;
}

.formation_place h4 {
  @apply text-xl p-2 font-serif text-[varr(--color-secondary)];
}

.formation_place iframe {
  @apply w-full md:w-[130%] xl:w-100 h-70 lg:h-100 rounded-3xl;
}

.formation_sentence {
  @apply p-5 items-center font-serif;
}

/* Skills */

.skills {
  @apply flex flex-col justify-center items-center md:flex-row w-full;
}

.langages {
  @apply justify-center items-center flex flex-col gap-5 md:gap-10;
  width: 50%;
}

.tools {
  @apply justify-center items-center flex flex-col gap-5 md:gap-10;
  width: 50%;
}

/* Part of the timeline */

.skills_timeline {
  @apply relative flex flex-col items-center justify-center gap-10 h-full;
}

.skill_path {
  @apply absolute top-0 h-full w-5 z-0;
  background-color: var(--color-accent);
}

.skill_path_fill {
  @apply absolute top-0 w-6 z-5 transition-all rounded-4xl;
  background: var(--color-radient-vertical);
  background-size: 100% 300%;
  animation: gradientAnim 3s linear infinite;
}

@keyframes gradientAnim {
  from {
    background-position: center 0;
  }

  to {
    background-position: center 300%;
  }
}

/* Part of a Skill item */
.skill_item {
  @apply relative z-10 flex flex-col justify-center items-center gap-2 w-32 h-32 rounded-2xl shadow-xl shadow-gray-900 transition-transform;
  color: var(--color-secondary);
  background-color: var(--color-background);
}

.skill_item:hover {
  color: var(--color-primary);
  background-color: var(--color-accent);
}

.skill_logo {
  @apply w-15 h-15;
}

.skill_logo svg {
  fill: currentColor;
  object-view-box: "0 0 100 150";
}

.skill_logo svg path {
  fill: currentColor;
}

.skill_name {
  @apply font-serif;
}

.more_infos_skill {
  @apply p-5 rounded-3xl w-full md:max-w-xl h-auto fixed top-50 left-50 translate-0.5 z-50 backdrop-blur-3xl transform-3d transition-all shadow-2xl;
}

.more_infos_skill h2 {
  @apply text-4xl md:text-5xl h-15 font-bold;
}

.skill_description {
  @apply m-5 mb-15 text-2xl md:text-3xl font-serif;
}

.skill_learned {
  @apply fixed bottom-4 left-4;
}

.close_button {
  @apply fixed top-3 right-10 w-5 h-5 z-10001;
  color: var(--color-primary);
}

.close_button:hover {
  color: rgba(138, 10, 23, 0.88);
}

.close_button svg path {
  fill: currentColor;
}